<div class="navbar">
<%= link_to 'TOPã¸æˆ»ã‚‹', tasks_path, class: "btn btn-secondary btn-sm " %>
</div>

<div class=" d-flex justify-content-center navbar bg-primary text-white">
  <div><p>katsumi miyahara 2020</p>
  </div>
</div>